/* src/pages/HomePage.css */

.ticket-section-container {
  padding: 20px;
  padding-top: 60px;
}

.ticket-section-container h2 {
  color: var(--primary-gold);
  font-size: 2.5rem;
}

.instructions {
  color: var(--text-secondary);
  margin-bottom: 20px;
}

.virtualized-grid-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.ticket-row {
  display: flex !important; /* Es importante usar !important para sobreescribir los estilos de la librería */
  justify-content: center;
  gap: 10px; /* Reducimos el espacio entre boletos */
  box-sizing: border-box;
  padding: 5px; /* Reducimos el padding de la fila */
}


.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px; /* Misma altura que la lista virtualizada */
  gap: 20px;
}

.spinner-container p {
  color: var(--primary-gold);
  font-weight: bold;
}

/* ... (agrega esto al final de HomePage.css) ... */

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid var(--surface-dark);
  border-top-color: var(--primary-gold);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}