.legend-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos bajen a la siguiente línea si no caben */
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espacio entre cada elemento de la leyenda */
  margin-bottom: 25px;
  background-color: var(--surface-dark);
  padding: 15px;
  border-radius: 8px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.legend-color-box {
  /* Hacemos los cuadros de ejemplo un poco más pequeños que los boletos reales */
  width: 70px;
  height: 45px;
  font-size: 0.9rem; /* Reducimos el tamaño de la fuente del número */
  
  /* Sobrescribimos la transición del componente Ticket para que no se mueva al pasar el mouse */
  transition: none; 
}

/* Forzamos que la caja no se agrande al pasar el mouse por encima */
.legend-color-box:hover {
  transform: none;
}

.legend-item span {
  font-weight: 500;
  color: var(--text-secondary);
}